* {
    margin: 0;
    padding: 0;
}

html {
    background: #070707;
}

div.video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    min-width: 100%;
    min-height: 100%;
}
